<label>Server Name</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
    Add Server
</button>
<p *ngIf="buttonClicked; else noServer">{{ serverCreationStatus }} {{ serverName }}</p>
<ng-template #noServer>
  <p>No server founded!</p>
</ng-template>
<p>{{ element.firstName }}</p>
<p>{{ element.lastName }}</p>
<p>{{ element.age }}</p>
<app-server *ngFor="let server of servers"></app-server>

